---
version: 3

images:
  base_image:
    name: registry.access.redhat.com/ubi10/ubi:latest

dependencies:
  python: ee-requirements.txt
  galaxy:
    collections:
      - community.general
      - name: ansible.posix
      - name: ansible.utils
      - name: paloaltonetworks.panos
  ansible_core:
    package_pip: ansible-core>=2.16.0,<2.17
  ansible_runner:
    package_pip: ansible-runner
  system:
    - glibc-locale-source
    - glibc-common
build_arg_defaults:
  ANSIBLE_GALAXY_CLI_COLLECTION_OPTS: '--ignore-certs'
additional_build_steps:
  # Steps to run before the final build stage
  # ...
  # Steps to run after the final build stage

  append_final: |
    RUN python3 -m pip install --upgrade panos-upgrade-assurance
    RUN localedef -i en_US -f UTF-8 en_US.UTF-8
    ENV LANG=en_US.UTF-8
    ENV LC_ALL=en_US.UTF-8
    
